<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._40y20CoctelBar"
        tools:targetApi="31">
        <activity
            android:name=".SinRol"
            android:exported="false" />
        <activity
            android:name=".OpcionesMesero.MenuProductos"
            android:exported="false" />
        <activity
            android:name=".OpcionesMesero.HistorialComanda"
            android:exported="false" />
        <activity
            android:name=".OpcionesMesero.CrearComanda"
            android:exported="false" />
        <activity
            android:name=".dialogsAdmin.MenuProductosDialog"
            android:exported="false" />
        <activity
            android:name=".dialogsAdmin.PendienteDialog"
            android:exported="false" />
        <activity
            android:name=".OpcionesAdministrador.MenuProductos"
            android:exported="false" />
        <activity
            android:name=".dialogsAdmin.AdministradorDialog"
            android:exported="false" />
        <activity
            android:name=".dialogsAdmin.MeseroDialog"
            android:exported="false" />
        <activity
            android:name=".dialogsAdmin.CocineroDialog"
            android:exported="false" />
        <activity
            android:name=".OpcionesAdministrador.Reporte"
            android:exported="false" />
        <activity
            android:name=".OpcionesAdministrador.ReglasNegocio"
            android:exported="false" />
        <activity
            android:name=".OpcionesAdministrador.GestionarUsuarios"
            android:exported="false" />
        <activity
            android:name=".Menus.MeseroMenu"
            android:exported="false" />
        <activity
            android:name=".Menus.CocineroMenu"
            android:exported="false" />
        <activity
            android:name=".Menus.AdministradorMenu"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".PantallaCarga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>